/* Tailwind CSS */
@import "tailwindcss";

@theme
{
  /* ====  Blue Color =====  */
   --color-blue-50: #f3f8fc;
  --color-blue-100: #e6f0f8;
  --color-blue-200: #c8dfef;
  --color-blue-300: #98c5e1;
  --color-blue-400: #60a7d0;
  --color-blue-500: #3c8dbc;
  --color-blue-600: #2b709e;
  --color-blue-700: #245a80;
  --color-blue-800: #214d6b;
  --color-blue-900: #20415a; 
  --color-blue-950: #162a3b;
 
  /* ==== Sky Blue Color ==== */
  --color-sky-50: #edfefe;
  --color-sky-100: #d0fdfd;
  --color-sky-200: #a8f7f9;
  --color-sky-300: #6bf0f5;
  --color-sky-400: #28dee8;
  --color-sky-500: #0cc1ce;
  --color-sky-600: #0d9aad;
  --color-sky-700: #138496;
  --color-sky-800: #186372;
  --color-sky-900: #186372; 
  --color-sky-950: #0a3742; 

  /* === Breakpoints (responsive sizes) === */
  --breakpoint-xs: 400px;   /* Extra Small devices (mobile) */
  --breakpoint-sm: 576px;   /* Small devices (mobile) */
  --breakpoint-md: 768px;   /* Medium devices (tablet) */
  --breakpoint-lg: 992px;  /* Large devices (laptop) */
  --breakpoint-xl: 1200px;  /* Extra large screens */
  --breakpoint-2xl: 1440px; /* 2X large screens */
  
  /* ===== Fonts ==== */
  --font-kurale: "Lora", serif;
}

html 
{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after
{
  box-sizing: inherit;
}

body
{
    font-family: "Source Sans 3", sans-serif;
}
